@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #f3eae3; }

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 620px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 1px 6px black; }
  .container .img-content {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 209px; }
    .container .img-content .image1 {
      width: 100%;
      border-radius: 10px 10px 0 0; }
    .container .img-content .image2 {
      display: none; }
  .container .content {
    height: 411px;
    border-radius: 0 0 10px 10px;
    padding: 20px; }
    .container .content .perfume {
      font-size: 17px;
      color: #a3a3ad;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 4px; }
    .container .content .principal-title {
      font-size: 30px;
      padding: 20px 0;
      font-family: "Fraunces", serif; }
    .container .content .information {
      font-size: 17px;
      color: #a3a3ad;
      font-family: "Montserrat", sans-serif; }
    .container .content .price {
      display: flex;
      padding: 20px 0; }
      .container .content .price .principal-price p {
        font-size: 35px;
        font-family: "Fraunces", serif;
        color: #3d8168; }
      .container .content .price .secondary-price {
        display: flex;
        align-items: center; }
        .container .content .price .secondary-price p {
          font-size: 18px;
          padding: 0 10px;
          text-decoration-line: line-through;
          font-family: "Montserrat", sans-serif;
          color: #a3a3ad; }
    .container .content .button {
      height: 50px;
      border-radius: 10px;
      background-color: #3d8168;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .container .content .button:active {
        background-color: rgba(6, 71, 6, 0.945); }
      .container .content .button .fa-cart-shopping {
        color: white;
        padding: 0 10px; }
      .container .content .button .text-button {
        color: white;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700; }

@media all and (min-width: 1024px) {
  .container {
    height: 440px;
    width: 600px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 1px 6px black; }
    .container .img-content {
      width: 300px;
      border-radius: 10px 0 0 10px;
      height: 440px;
      overflow: hidden; }
      .container .img-content .image1 {
        display: none; }
      .container .img-content .image2 {
        display: block;
        width: 100%; }
    .container .content {
      border-radius: 0 10px 10px 0;
      height: 440px;
      width: 300px; } }
